.Property-box {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    /* flex-flow: column;
    align-items: center; */
    cursor: pointer;
    box-shadow: 0px 5px 35px 0px rgba(66, 66, 66, 0.219) ;
    transition: all .4s ease-in-out;
    position: relative;
  }
  
  .Property-box:hover{
    transform: scale(1.1);
    z-index: 1;
    /* box-shadow: 0px 25px 15px -10px rgba(139, 139, 139, 0.219) ; */
  }
  
  .Property-box .Property-img {
    width: 100%;
    background-color: silver;
    transition: all 0.6s ease-in-out;
    position: relative;
    /* box-shadow: 0px 25px 15px -10px rgba(139, 139, 139, 0.596) ; */
  }
  .Property-img::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.233); */
  }
  .basic-info {
  }
  
  .P-content {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(5, 5, 5, 0.733) 0%, rgba(0, 0, 0, 0.692) 35%, rgba(0, 0, 0, 0.068) 100%);
    /* padding-bottom: 30px; */
    position: absolute;
    color: white;
    height: 120px;

  
  }
  .L-price {
    font-size: 1.3rem;
    color: black;
    color: white;
    font-weight: bold;
  
  }
  
  .P-content .address {
    font-size: 1rem;
    color: var(--text-color);
    color: white;
    padding: 0px 0px 0px 0px;
  }
  .P-content .basic-info {
    color: var(--text-color);
    color: white;
  }
  .P-content .basic-info p{
    color: white;
  }
  
  .img1 {
    background: url(../../Images/house\ 2.jpg) no-repeat center center/cover;
  }
  .img2 {
    background: url(../../Images/house\ 3\ edit.png) no-repeat center center/cover;
  }
  .img3 {
    background: url(../../Images/house\ 5.jpg) no-repeat center center/cover;
  }