@media (min-width: 1800px) {
  /* ********************************************************************************* 1606px */
  body {
    --width: 1400px;
  }
  * {
    font-size: 17px;
  }
}
@media (max-width: 1506px) {
  /* ********************************************************************************* 1606px */
  body {
    --width: 80%;
  }
}
@media (max-width: 1340px) {
  body {
    --width: 80%;
  }
}
@media (max-width: 1260px) {
  /* ********************************************************************************* 1260 */
  body {
    --width: 90%;
  }

  .Showcase {
    height: calc(90vh - 12vh);
  }
  .main-section-box h1 {
    font-size: 1.8rem;
  }
  .Search div:nth-child(6),
  .Search div:nth-child(7) {
    display: none;
  }
  .Search {
    grid-template-columns: 2fr 2fr 1fr 1fr;
  }

  @media (max-width: 1116px) {
    .Search div:nth-child(6),
    .Search div:nth-child(7) {
      display: none;
    }
    .Search {
      grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    }
  }
}
@media(max-width: 1219px){
  .box p {

    height: 30%;
    
  }
}
@media (max-width: 1090px) {
  /* ********************************************************************************* 1090px */
  /* ------------------------------------------------------------------------ Navigation */
  .Sides-Menue{
    width: 50%;
}
  .Nav-links {
    position: relative;
  }
  .logoimg2 {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 115px;
  }
  .Nav-links .links {
    display: none;
  }
  .socials {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .socials li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 4;
    border: none;
    width: 5%;
    height: 100%;
  }
  .socials li:nth-last-child(1) {
    display: none;
  }
  .lines {
    min-width: 25px;
    height: 2.5px;
    background: rgba(0, 0, 0, 0.616);
    --width-line: 60%;
  }
  /* ------------------------------------------------------------------------ Showcase */

  /*-------------------------------------------------------------------- about section */
  .AboutUs-main-section {
    width: var(--width);
    margin: auto;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* padding: 7rem 0px; */
  }
  .AboutUs {
    padding: 6% 0px;
  }
  .AboutUs-main-section p {
    border: none;
    text-align: center;
    margin-top: 3%;
    width: 80%;
    margin-left: 0px;
    padding-left: 0px;
  }
  .AboutUs-main-section p span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Sc-title {
    width: min-content;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  .Sc-title h2 {
    font-size: 2.3rem;
    line-height: 150%;
    margin: 0;
    padding: 0;
    height: min-content;
    width: 300px;
  }
  .Sc-title h2::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: var(--main-color);
    bottom: -10%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .Sc-title h3 {
    font-size: 0.8rem;
    position: relative;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: normal;
    margin: 0;
    padding: 0;
  }
  .sp-box-content h3{
    font-size: 1.3rem !important;
  }
  .Sc-title h3::after {
    display: none;
  }

  .about-page-main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .about-text-section{
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0% 0% 10% 0px;
  }
  .about-page-main form{
    width: 100%;
    margin-bottom: 5%;
  }
  /*-------------------------------------------------------------------- What We Do Section */
  .WhatWeDo-box {
    width: var(--width);
    margin: auto;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(3, 32.3%);
    justify-content: center;
    row-gap: 50px;
    height: min-content;
  }

  .box p {
    color: var(--text-color);
    margin: 20px 0px 15px 0px;
    height: min-content;
  }
  /*-------------------------------------------------------------------- Why work with us */
  .WhyUs {
    padding: 5% 0px;
  }
  .WhyUs-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  .W-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
  }
  .W-c p {
    padding: 8% 0px !important;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .W-img-box {
    display: none;
    border: 1px solid green;
  }
  /* -----------------------------------------------------------------------------------------------------Our Partners */
  .Partner{
    display: none;
  }
  /* -----------------------------------------------------------------------------------------------------Our Specialty */
  .Sp-details {
    display: flex;
    flex-flow: column;
    row-gap: 100px;
    align-items: center;
  }
  .Sp-box {
    width: 500px;
  }
  /* ----------------------------------------------------------------------------------------------------- Properties Listings */
  .Properties {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    /* flex-flow: row wrap;
    justify-content: space-between; */
    margin: 7% 0px;
    /* border: 1px solid red; */
  }
  /* ----------------------------------------------------------------------------------------------------- Footer */
  .Footer-box{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
  }
  .F{
    text-align: center;
  }
}

@media (max-width: 870px) {
  /* ********************************************************************************* 870 */

  .Showcase {
    height: calc(80vh - 12vh);
  }
  .main-section-box h1 {
    font-size: 1.8rem;
  }
  .Search div:nth-child(4),
  .Search div:nth-child(5) {
    display: none;
  }
  .Search div:nth-child(6),
  .Search div:nth-child(7) {
    display: none;
  }
  .Search {
    grid-template-columns: 2fr 2fr;
  }
  .Sc-title h2 {
    font-size: 1.5rem;
  }
  .Sc-title h3 {
    font-size: 0.7rem;
  }
  /* -----------------------------------------------------------------------------------------------------Our Partners */
  .Partner-box {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }
  .Partner-box p {
    text-align: center;
  }
  .Partner-photos {
    margin-top: 50px;
    display: grid;
    width: 100%;
    height: 500px !important;
  }
  .Partner-content {
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .Properties div:nth-child(4),
  .Properties div:nth-child(5) {
    display: none;
  }

  .contact-box {
    width: 80%;
  }
  .contact-box form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* margin: 50px 0px 50px 0px; */
    gap: 20px;
  }
  .contact-box form input:nth-child(1),
  .contact-box form input:nth-child(2)
  {
    grid-column: 1 /span 2;
  }
}
@media (max-width: 594px) {
  /* ********************************************************************************* 594 */
  /* -----------------------------------------------------------------------------------------------------About Us Section */
  .Sides-Menue{
    width: 90%;
}
  .AboutUs {
    display: none;
  }
  /* -----------------------------------------------------------------------------------------------------Showcase */
  .Showcase {
    height: calc(70vh - 12vh);
  }

  .main-section-box h1 {
    font-size: 1.3rem;
  }
  /* -----------------------------------------------------------------------------------------------------search section */
  .Search {
    grid-template-columns: 1fr;
    display: none;
  }
  .Search h2 {
    text-align: left;
    padding-bottom: 1%;
  }

  /* -----------------------------------------------------------------------------------------------------What We Do section */
  .WhatWeDo-box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 32.3%);
  }
  /* -----------------------------------------------------------------------------------------------------Why work with us */
  .WhyUs-box {
    width: var(--width);
  }
  /* -----------------------------------------------------------------------------------------------------Our Partners */
  .Partner-box {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }
  .Partner-box p {
    text-align: center;
  }
  .Partner-photos {
    display: none;
    margin-top: 50px;
    width: 90%;
    height: 500px;
  }
  .Partner-content {
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  /* -----------------------------------------------------------------------------------------------------Our Specialty */
  .Sp-details {
    margin-top: 10%;
    display: flex;
    flex-flow: column;
    row-gap: 100px;
    align-items: center;
  }
  .Sp-box {
    width: var(--width);
  }

  /* ----------------------------------------------------------------------------------------------------- Properties Listings */
  .Properties {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
    /* flex-flow: row wrap;
    justify-content: space-between; */
    margin: 7% 0px;
    /* border: 1px solid red; */
  }

  .Properties div:nth-child(3),
  .Properties div:nth-child(4),
  .Properties div:nth-child(5) {
    display: none;
  }
}
