
@media (max-width: 1090px) {
  /* ********************************************************************************* 1090px */
 
  /*-------------------------------------------------------------------- about section */

  .about-page-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .about-text-section {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0% 0% 10% 0px;
  }
  .about-page-main form {
    width: 100%;
    margin-bottom: 5%;
  }
  /*-------------------------------------------------------------------- What We Do Section */
  .WhatWeDo-box {
    width: var(--width);
    margin: auto;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(3, 32.3%);
    justify-content: center;
    row-gap: 50px;
    height: min-content;
  }

  /*-------------------------------------------------------------------- Why work with us */
  
  .WhyUs-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .W-c {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
  }
  .W-c p {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .W-img-box {
    display: none;
    border: 1px solid green;
  }
  /* -----------------------------------------------------------------------------------------------------Our Partners */
  .Partner {
    display: none;
  }
  /* -----------------------------------------------------------------------------------------------------Our Specialty */
  .Sp-details {
    display: flex;
    flex-flow: column;
    row-gap: 100px;
    align-items: center;
  }
  .Sp-box {
    width: 500px;
  }
  /* ----------------------------------------------------------------------------------------------------- Properties Listings */
  .Properties {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    /* flex-flow: row wrap;
    justify-content: space-between; */
    margin: 7% 0px;
    /* border: 1px solid red; */
  }
  /* ----------------------------------------------------------------------------------------------------- Footer */
  .Footer-box {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .F {
    text-align: center;
  }
}

@media (max-width: 870px) {
  /* ********************************************************************************* 870 */
  /* -----------------------------------------------------------------------------------------------------Our Partners */
  .Partner-box {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }
  .Partner-box p {
    text-align: center;
  }
  .Partner-photos {
    margin-top: 50px;
    display: grid;
    width: 100%;
    height: 500px !important;
  }
  .Partner-content {
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .Properties div:nth-child(4),
  .Properties div:nth-child(5) {
    display: none;
  }

  .contact-box {
    width: 80%;
  }
  .contact-box form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* margin: 50px 0px 50px 0px; */
    gap: 20px;
  }
  .contact-box form input:nth-child(1),
  .contact-box form input:nth-child(2) {
    grid-column: 1 / span 2;
  }
}
@media (max-width: 594px) {
  /* ********************************************************************************* 594 */
  /* -----------------------------------------------------------------------------------------------------What We Do section */
  .WhatWeDo-box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 32.3%);
  }
  /* -----------------------------------------------------------------------------------------------------Why work with us */
  .WhyUs-box {
    width: var(--width);
  }
  /* -----------------------------------------------------------------------------------------------------Our Partners */
  .Partner-box {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }
  .Partner-box p {
    text-align: center;
  }
  .Partner-photos {
    display: none;
    margin-top: 50px;
    width: 90%;
    height: 500px;
  }
  .Partner-content {
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  /* -----------------------------------------------------------------------------------------------------Our Specialty */
  .Sp-details {
    margin-top: 10%;
    display: flex;
    flex-flow: column;
    row-gap: 100px;
    align-items: center;
  }
  .Sp-box {
    width: var(--width);
  }

  /* ----------------------------------------------------------------------------------------------------- Properties Listings */
  .Properties {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
    /* flex-flow: row wrap;
    justify-content: space-between; */
    margin: 7% 0px;
    /* border: 1px solid red; */
  }

  .Properties div:nth-child(3),
  .Properties div:nth-child(4),
  .Properties div:nth-child(5) {
    display: none;
  }
}
