.AboutUs{
    position: relative;
    width: 100%;
    height: min-content;
    /* background-color: var(--light-background); */
    /* background-attachment: fixed; */
    z-index: 0;
    padding: var(--div-padding)
}
.AboutUs-main-section{
    position: relative;
    width: var(--width);
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 7rem 0px; */
}

.AboutUs-main-section h2{
    position: relative;
    transform: translateY(40%);
    margin-right: 3rem;
}

.AboutUs-main-section p{
    border-left: 1px solid silver;
    padding-left: 3rem;
    width: 60%;
}

.AboutUs-main-section p span{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: .9rem;
}

.AboutUs-main-section p span i{
    display: flex;
    align-items: center;
}
.aboutuspage{
    height: min-content;
}

.about-page-main{
    width: var(--width);
    margin: auto;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
    column-gap: 40px;
    padding: 5% 0%;
    z-index:5;
    height: min-content;
    
}

.about-text-section p{
    grid-column: 1;
    padding-top: 5%;
}

.about-page-main form{
    position: relative;
    grid-column: 2;
    grid-row: 1 /span 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem 3rem;
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.103);
}

.about-page-main form h3{
    font-size: 2rem !important;
    padding: 40px 0px 10px 0px;
    text-transform: uppercase;
}
.about-page-main form p{
    width: 60%;
    padding-bottom: 20px;
}

.about-page-main form input{
    border: 1px solid silver !important;
    padding: 1rem !important;
    margin: .3rem 0rem !important;
}
.about-page-main form input, select{
    border: none;
    border-bottom: 1px solid silver;
    padding: 10px 0px;
    color: var(--text-color);
    outline: none;
}
.about-page-main form input, textarea, select{
    margin: 10px 0px;
    width: 100%;
}
.about-page-main form textarea{
    height: 80px;
    padding: 10px;
    border: 1px solid silver;
    margin-top: 1rem;
}

.about-page-main form button{
    background-color: var(--main-color);
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1rem 0rem;
    cursor: pointer;
}

.about-text-section{
    margin: auto 0px;
   padding-right: 20px;
}

.success-message{
    position: absolute;
    color: green;
    top: 70px;
    font-size: .8rem;

}