.Modal {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.644);
  z-index: 5;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  animation: open 0.5s ease;
}

.M-close {
  animation: close 0.5s ease forwards;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.close {
  position: absolute;
  color: var(--text-color);
  font-size: 2.2rem;
  left: 10px;
  top: -1%;
  transform: rotate(45deg);
  cursor: pointer;
}
.Sides-Menue {
  position: absolute;
  right: 10px;
  background: white;
  width: 30%;
  max-width: 466px;
  height: 98%;
  
  top: 0;
  bottom: 0;
  margin: auto 0px !important;
  z-index: 10;
  display: flex !important;
  flex-flow: column !important;
  align-items: center !important;
  justify-content: center !important;
  animation: slide 0.5s ease;
  min-height: 660px !important;
}
.Sides-Menue h3{
  text-transform: uppercase;
  font-size: 1.5rem !important;
  padding-bottom: 0rem !important;
}
.Sides-Menue-close {
  animation: close-slide 0.5s ease forwards;
}
@keyframes slide {
  from {
    right: -300px;
  }
  to {
    right: 0px;
  }
}
@keyframes close-slide {
  from {
    right: 0px;
    opacity: 1;
  }
  to {
    right: -300px;
    opacity: 0;
  }
}

.Sides-Menue h1 {
  padding-bottom: 10px;
}

.Sides-Menue ul {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.Sides-Menue ul .lilink, .side-contact li {
  color: var(--text-color);
  padding: 1rem 0px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.432);
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
  text-transform: uppercase;
  text-decoration: none;
}

.Sides-Menue ul .lilink li,
.side-contact li {
  font-size: 1rem !important;
}

.Sides-Menue ul .lilink:hover {
  background: var(--main-color);
  color: white;
}

.logoimg2.logoimg2-menue {
  position: relative !important;
  width: 30% !important;
  height: 10% !important;
  min-height: 100px;
  background: url(../../Images/Logo\ Edited.png) no-repeat center center/
    contain;
  cursor: pointer !important ;
  margin: 0;
  margin-bottom: 3% !important;
}

.Sides-Menue .side-social {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

.side-social i {
  color: var(--main-color);
  width: 35px;
  height: 35px;
  border: 1px solid rgba(192, 192, 192, 0.801);
  border-radius: 50%;
  padding: 10px;
  margin: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.1s ease;
}

.side-social i:hover {
  background: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
}
