.about-text-section{
    padding: 0;
}

.sellAHome p{
    position: relative;
    /* border: 1px solid green; */
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2%;
}

.sell-texts h2{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding-bottom: 1%;
}
@media (max-width: 1090px){
    .sellAHome p{
        display: flex;
        text-align: left;

    }
}

.sellAHome span{
 background: var(--main-color);
 color: white;
 font-size: inherit;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0em .5em;
 margin-right: 1%;
}

.sellAHome .sell-texts{
margin-top: 50px;
}

.sell-page{
    padding-bottom: 3px;
}