.about-text-section{
    padding: 0;
}
.about-page-main.sell-page form{
    position: relative;
    height: 60vh;
    min-height: 38rem;
    max-height: 533px;
}
.about-page-main.sell-page form .serverMsg{
    border: none;
    bottom: 0px;
    color: transparent;
}
.about-page-main.sell-page form input{
    border:none;
    border-bottom: 1px solid silver;
    padding: 2% 10px;
}
.sell-page{
    padding-bottom: 6rem !important;
}
.sellAHome p{
    position: relative;
    /* border: 1px solid green; */
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2%;
}

.sellAHome h3{
    margin-top: 3rem !important;
    font-size: 2rem !important;
}
h4{
    display: inline;
}
.list-title{
    display: flex;
    align-items: center;
    font-size: 1.5rem !important;
}

ul li .list-title h4 {
    font-size: 1.4rem;
}


.sellAHome ul{
 display: flex ;
 flex-flow: column;
 align-items: flex-start;
}
.sellAHome ul li span{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    color: inherit;
  
    padding-right: .3rem;
    text-align: left;
    font-weight: bolder;
    font-size: 1.4rem;
}
.sellAHome ul li{
    margin-bottom: .3rem;
}

.sellAHome ul li p{
    text-align: left;
}


@media (max-width: 1090px){
    .sellAHome p{
        display: flex;
        text-align: center;

    }
}

.sell-page{
    padding-bottom: 3px;
}