.single-listing{
    width: var(--width);
    height: min-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.single-listing-img{
    width: 50%;
    height: 400px;
}

.single-listing-info{
    font-size: 1rem;
    width: 50%;
    padding: 1% 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.single-listing-info span{
    font-weight: bold;
}

.single-listing-page{
   padding-top: 2rem;
}

.lising-buttons{
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: white;
    padding: 1rem 1rem;
    width: 180px;
    max-height: 52px;
    margin: 0rem auto;
    margin-bottom: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-link{
    color: rgb(66, 66, 248);
    cursor: pointer;
    display: inline;
}