.Showcase {
  height: 100vh;
  position: relative;
  background: var(--showcase-img) no-repeat center center/cover;
  z-index: 1;
}
.Showcase::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #00000070;
}
.side-img{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--showcase-img) no-repeat center center/ cover;
  clip-path: polygon(0 0, var(--nav-size) 0, var(--nav-size) 100%, 0% 100%);
  filter: blur(4px);
  z-index: -1;
}
.side-nav{
  position: absolute;
  width: var(--nav-size);
  height: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-right: var(--nav-border-size) solid var(--nav-border);
}
.social-nav{
  display: flex;
  flex-flow: column;
  /* border: 1px solid red; */
  position: relative;
}
.social-nav::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 4rem;
  background: var(--social-color);
  left: 0;
  right: 0;
  margin: auto;
  top: -50%;
}
.social-nav::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 4rem;
  background: var(--social-color);
  left: 0;
  right: 0;
  margin: auto;
  bottom: -50%;
}

.social-nav i{
  color: var(--social-color);
  margin: 1rem 0rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.social-nav i:hover{
  color: var(--main-color);
}

.side-nav span{
  position: absolute;
  bottom: 10%;
  color: var(--social-color);
  transform: rotate(90deg);
}

.side-nav span i{
  color: inherit;
}


.main-section-box {
  width: var(--width);
  height: 100%;
  margin: 0px auto;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.showcase-content{
  letter-spacing: .0rem;
  position: relative;
  line-height: 130%;
  font-weight: lighter;
  color: var(--white-text);
  text-transform: uppercase;
  width: 100%;
  margin: auto 0px ;
  padding: 20px 0px;
}
.showcase-content button{
  box-shadow: none !important;
}

