.WhatWeDo {
  height: min-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6% 0px ;
  /* border: 1px solid yellow; */
}

.WhatWeDo-box {
  width: var(--width);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 30.3%);
  justify-content: space-between;
  /* gap: 50px; */
  height: min-content;
  /* border: 1px solid orange; */
  height: 530px;
}

.box {
  position: relative;
  height: 100%;
  /* min-width: 350px; */
  /* border: 1px solid green; */
}

.sec-title {
  display: flex;
  padding-left: 40px;
}

.box-img {
  width: 100%;
  height: 270px;
  background: silver;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 0;
  /* border: 1px solid yellow; */
}
.box-img p {
    position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  color: white !important;
  z-index: -7;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3% 5% !important;
  margin: 0 !important;
  height: min-content !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
  bottom: 15px;
  left: -10px;
}
.box-img p::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(155, 2, 2);
    left: 0;
    bottom: -10px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    z-index: -8;
}
.box-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.062);
}

.box h3 {
  font-size: 1.5rem;
  color: var(--h3-color);
  margin-top: 35px;
  /* padding-top: 35px;
  padding-bottom: 10px; */
}
.box p {
  color: var(--text-color);
  margin: 20px 0px 0px 0px;
  height: 25%;
  /* border: 1px solid red; */
  /* overflow: hidden; */
}
.link {
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
}
.link i {
  color: red;
  font-size: 0.6rem;
}

.buy-img {
  background: url(../../Images/happy-asian.jpg) no-repeat center center/cover;
}
.sell-img {
  background: url(../../Images/sell-2.jpg) no-repeat center center/cover;
}
.work-img {
  background: url(../../Images/woman-in-business.jpg) no-repeat center
    center/cover;
}
.workwithus {
  position: relative;
}
.work-img {
  position: relative;
}
