.Search {
  position: relative;
  width: 100%;
  height: min-content;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr 0.6fr 0.6fr 0.6fr;
  margin-bottom: 3%;
  /* column-gap: 1%; */
  padding: 2% 2%;
  z-index: 0;
  /* border-radius: 10px; */
  overflow: hidden;
}

.Search::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(14, 13, 13, 0.644);
  z-index: -1;
}

.Search h2 {
  grid-column: 1 / span 8;
  text-align: left;
  padding-bottom: 1%;
}
.Search h2 {
  font-size: 1.5rem;
  /* padding: 6px 0px 6px 0px; */
  color: var(--white-text);
  font-weight: bold;
  text-transform: uppercase;
}

.Search input {
  width: 87%;
  /* height: 100%; */
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.555);
  background: transparent;
  color: var(--white-text);
  padding-right: 5%;
}

.Search select {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.555);
  background: transparent;
  color: var(--white-text);
  position: relative;
  -webkit-appearance: none;
  margin: 0;
}

.Search input::placeholder {
  opacity: 1;
  color: white;
  font-size: 0.9rem;
}

.Search input:nth-child(3) {
}

.custom-select {
  position: relative;
  height: 100%;
}
.custom-select select {
  height: 100%;
}

.custom-select::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 5px;
  background: rgba(255, 255, 255, 0.342);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  right: 10%;
  top: 0;
  bottom: 0;
  margin: auto 0px;
}

.on-Page-Search {
  border-bottom: 1px solid silver;
  padding: 0;
  padding-bottom: 3%;
  margin: 2% 0%;
}

.Search.on-Page-Search::before {
  display: none;
}

.Search.on-Page-Search h2 {
  color: black;
}
.Search.on-Page-Search input {
  border: 1px solid silver;
  color: var(--text-color);
}
.Search.on-Page-Search input::placeholder {
  color: var(--text-color);
}
.Search.on-Page-Search select {
  color: var(--text-color);
  border: 1px solid silver;
}
.Search.on-Page-Search .custom-select::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 5px;
  background: var(--main-color);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  right: 15%;
  top: 0;
  bottom: 0;
  margin: auto 0px;
}
.Search.on-Page-Search h2 {
  color: black;
}

.Search.on-Page-Search .custom-select.filter {
  color: var(--text-color);
}
.Search.on-Page-Search .custom-select.filter i {
  color: var(--text-color);
}

.custom-select.filter {
  width: 90%;
  height: 100%;
  padding: 0;
  border: none;
  color: white;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px silver solid;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  margin-right: 12%;
}
.custom-select.filter:hover {
  background-color: white;
  color: var(--text-color);
}
.custom-select.filter:hover.custom-select.filter i {
  background-color: transparent;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.custom-select.filter i {
  padding: 0;
  border: none;
  color: white;
  font-size: 0.7rem;
  padding-right: 1%;
}

.custom-select.filter.custom-select::before {
  display: none;
}
