.Navigation {
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.329) 17%,
    rgba(0, 0, 0, 0.123) 61%,
    rgba(0, 0, 0, 0) 100%
  );
  background: rgb(255, 255, 255);
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 4;
  border-bottom: 1px solid var(--nav-border);
}


.Nav-links {
  height: 100%;
  width: var(--width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logoimg2 {
  width: 18%;
  height: 65%;
  background: url(../../Images/Logo\ Edited.png) no-repeat center center/ contain;
  cursor: pointer;
  position: relative;
  left: -3.5%;
 
}

.Navigation .links  {
  display: flex;
  /* border: 1px solid red; */
  position: relative;
  right: 1.7%;
}
.Navigation .links li {
  cursor: pointer;
  list-style: none;
  color: var(--text-color);
  position: relative;
  padding: 0px 1.5rem;
  /* margin: 0px 2.5em; */
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
  border-left: 1px solid rgba(199, 198, 198, 0.507);
  transition: all .2s ease;
}

.Navigation .links .active{
  border-left: none;
}

.Navigation .links li:hover{
  color: var(--main-color);
}

.socials {
  position: relative;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: .1%;
  
}

.socials li {
  border-right: 1px solid var(--nav-border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 4;
  
  width: 33.3%;
  height: 100%;
}
.socials li i {
  color: var(--main-color);
}

.Menuebars {
  width: min-content;
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 40px;
  height: 100%; 
}

.lines {
  width: 100%;
  height: 2.5px;
  background: rgba(0, 0, 0, 0.616);
  --width-line: 60%
}
.line2 {
  width: var(--width-line);
  position: relative;
}
.line2::before{
  position: absolute;
  content: '';
  width: 60%;
  height: 100%;
  top: 7px;
  background: inherit;
}
.line2::after{
  position: absolute;
  content: '';
  width: 90%;
  height: 100%;
  bottom: 7px;
  background: inherit;
}

.li-phone:hover .drop-box {
  bottom: -46px;
  opacity: 1;
}
.li-email:hover .drop-box {
  left: -50px;
  bottom: -46px;
  opacity: 1;
}

.phone-number {
  pointer-events: none;
}

.email-number {
  pointer-events: none;
  display: none;
}

.drop-box {
  position: absolute;
  bottom: -80px;
  left: -0px;
  opacity: 0;
  background: white;
  padding: 5px 10px;
  transition: all 0.3s ease;
  border-radius: 10px;
}
