.Contact{
    height: min-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    padding: 5% 0px;
    
}

.C-bkg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../Images/interior-1.jpg) no-repeat center center/cover;
    z-index: -1;
    filter: grayscale(100%);
    
}
.C-bkg::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(14, 13, 13, 0.781);
    z-index: -1;
}
.contact-box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: var(--width);
    width: 60%;
    margin: 0px auto;
    padding: 30px 0px;
    border-radius: 2px;
}
.contact-box p{
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.contact-box form{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0px 50px 0px;
    gap: 20px;
}

.contact-box form input{
    width: 100%;
    border: none;
    padding: 20px 10px;
    background: transparent;
    margin: 5px 0px;
    border: 1px solid rgba(255, 255, 255, 0.486);
    color: white;
}
.contact-box form ::placeholder{
    color: white;
}

.fName{

    border-bottom: black;
}
/* .contact-box form .lName{
    
} */
.contact-box form input:nth-child(3){
    grid-column: 1 /span 2;
}
.contact-box form .message{
    grid-column: 1 /span 2;
}

.danger{
    border: 1px solid red !important ;
}
.danger::placeholder{
    color: red !important ;
}

.serverMsg{
    position: absolute;
    bottom: -15%;
    width: 100%;
    color: green;
    border: 1px solid green;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    z-index: 5;
}