.Sc-title {
  width: min-content;
  position: relative;
  z-index: 2;
  width: 300px;
  
}
.Sc-title.Sc-title-center {
  /* border: 1px solid red; */
  text-align: center;
}




.number {
  color: #d9d9d946;
  font-size: 8rem;
  font-weight: 600;
  position: absolute;
  top: -0px;
  z-index: -1;
  width: 100%;
}
.Sc-title.Sc-title-center h3 {
  font-size: 1rem;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  font-size: normal;
  text-align: center;
  margin: 0px auto;
}

.Sc-title h3 {
  font-size: 1rem;
  position: relative;
  color: #000000;
  display: flex;
  align-items: center;
  font-size: normal;
}
.Sc-title.Sc-title-center h3::after {
  position: absolute !important;
  right: 0px !important;
  right: 0;
  left: 0;
  margin: 0px auto;
  bottom: -75px;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--main-color);
}

.Sc-title h3::after {
  position: relative;
  right: -20px;
  content: "";
  width: 100px;
  height: 3px;
  background: var(--main-color);
}

.Sc-title h2 {
  color: rgb(0, 0, 0);
  font-size: var(--h2-size);
  padding: 10px 0px 20px 0px;
  width: 200px;
  line-height: 3rem;
}


/* .theclass{
    font-size: 1rem;
    position: relative;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: normal;
   
    text-align: center;
}
 .theclass::after{
 
    position: absolute !important;
    right: -5px  !important;
    content: '';
    width: 100px ;
    height: 3px;
    background: var(--main-color);
} */
