.WhyUs{
    position: relative;
    height: min-content;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0px;
}

.WhyUs-box{
    /* border: 2px solid green; */
    width: var(--width);
    height: min-content;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.W-c{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid yellow; */
}

.W-c p{
    padding: 5% 160px 20px 0px;
    color: var(--text-color);
    color: black;
}
.W-c ul {
    margin-bottom: 40px;
}
.W-c ul li{
    color: var(--text-color);
    padding: 5px 0px;
}

.W-c ul li i{
    color: var(--main-color);
    margin-right: 10px;
}
.W-img-box{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 4px solid red; */
    background: url(../../Images/home-2.jpg) no-repeat center top/cover;
    filter: grayscale(100%);
}
.W-img-box::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(14, 13, 13, 0.733);
}


.W-img{
    position: relative;
    left: -5%;
    width: 100%;
    height: 90%;
    background: url(../../Images/business-1.jpg) no-repeat center center/ cover;
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.692);
    
}

/* .W-dots{
 bottom: -50px;   
 left: -60px;
 width: 196px;
 height: 150px;
 display: none;


} */