.btn{
    width: 130px; 
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;

}

.main-btn{
    text-transform: uppercase;
    padding: 1em 3em;
    border: none;
    box-shadow: 0px 25px 15px -10px rgba(139, 139, 139, 0.219) ;
    cursor: pointer;
    background-color: var(--main-color);
    transition: all .6s ease;
    transform: translateY(0px);
    outline: none;
    font-weight: bold !important;
    
}
.main-btn:hover{
  background-color: #cc171d;
  box-shadow: 0px 35px 15px -10px rgba(139, 139, 139, 0.377) ;
  transform: translateY(-10px);
}

.submit-btn{
    box-shadow: 0px 25px 15px -10px rgba(0, 0, 0, 0.219) ;

    grid-column: 1 / span 2 !important;
}
.submit-btn:hover{
    box-shadow: 0px 25px 15px -10px rgba(0, 0, 0, 0.219) ;
}

.light{
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.308);
    cursor: pointer;
    /* margin-right: 10px; */
    transition: all ease .5s;
}
.light:hover{
    color: #333;
    border: 1px solid white;
    background: white;

}

.advanced{
    background: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: all ease .5s;
    font-weight: bold;
}

.advanced:hover{
    border: 1px solid #B1161C;
    background: #B1161C;
}

